// colors
$main-blue: #2b53fb;
$pastel-blue: #9ec1f7;
$light-blue: #f2f7ff;
$white: #fbfbfb;
$black: #030303;

//fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

body {
    background-color: darken($light-blue, 7%);
    font-family: "Poppins", sans-serif;
    position: relative;
}

h3 {
    color: $black;
    font-size: 1.3em;
    font-weight: 600;
    padding: 5px;
}

h4 {
    font-weight: 400;
    margin-right: 10px;
}

p {
    font-weight: 200;
    color: $black;
}

h4,
p {
    font-size: 0.8em;
}

.custom-header {
    background-color: $white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 20px 0 darken($pastel-blue, 30%);
    height: 3.5em;
    margin-bottom: 1em;
    position: relative;
    text-align: center;

    > h2 {
        color: $main-blue;
        font-size: 1.8em;
        font-weight: 600;
        position: absolute;
        bottom: 10%;
        left: 10%;
    }
}

.offer-container {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 10px 25px -5px darken($pastel-blue, 25%);
    position: relative;
    height: 100%;
}

.pagination-container {
    width: 40%;
    height: auto;
    text-align: center;
    background-color: $white;
    color: $main-blue;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    margin: 1em 0;

    > button {
        width: 1.3em;
        height: 1.3em;
        font-size: 0.9em;
        padding: 0;
        margin: 10px;

        &.-active {
            background-color: $main-blue;
            color: $white;
            border-radius: 20px;
        }
    }
}
